.min-h-screen {
  min-height: 100vh;
}

.bg-red {
  background-color: #ff0000;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.font-bold {
  font-weight: bold;
}

.flex-col {
  flex-direction: column;
}

.my-1 {
  margin-top: 13px;
  margin-bottom: 13px;
}

.px-2 {
  padding-left: 13px;
  padding-right: 13px;
}

.text-blue {
  color: #052f6e;
}

.btn {
  padding: 7px 12px;
  border: 2px solid blue;
  color: #fff;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  background-color: #052f6e;
    cursor: pointer;
}

.overflow-x-hidden{
    overflow-x: hidden;
}

.text-center{
    text-align: center;
}



